body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  margin: 3px;
}

.header {

}

.footer {
  width: 100%;
  height: 30%;
}

.map-component {
  border: black;
}

.side-bar {
  width: 20%;
}

