body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.footer {
  width: 100%;
  height: 30%;
}

.map-component {
  width: auto;
  height: auto;
  border: black;
}

.side-bar {
  width: 20%;
}

